<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css过渡</title>
    <script src="../vue/vue.js"></script>
    <style>
        .v-enter,
        .v-leave-to {
            opacity: 0;
        }

        .v-enter-active,
        .v-leave-active {
            transition: opacity 1s;
        }

        .fade-enter,
        .fade-leave-to {
            opacity: 0;
        }

        .fade-enter-active,
        .fade-leave-active {
            transition: opacity 2s;
        }
    </style>
</head>

<body>
    <div id="app">

        <transition>
            <child v-if="show"></child>
        </transition>

        <transition name=fade>
            <child v-if="show"></child>
        </transition>

        <button @click="handlerBtnClick">Animation</button>
    </div>


    <script>
        Vue.component(
            "child", {
            template: `<div>hello wolrd</div>`
        }
        )

        var vm = new Vue({
            el: "#app",
            data: {
                show: true,
            },
            methods: {
                handlerBtnClick: function () {
                    this.show = !this.show;
                }
            }
        })
    </script>

</body>

</html>