<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <script src="../vue/vue.js"></script>
</head>

<body>
    <div id="app">

        <!-- <child-one v-if="type==='child-one'"></child-one>
        <child-two v-if="type==='child-two'"></child-two> -->

        <!--
            动态组件
        -->
        <component :is="type"></component>

        <button @click="handlerclick">Change-Show</button>

    </div>


    <script>
        Vue.component(
            "child-one", {
            // v-once 组件渲染一次后保留在内存中
            template: `<div v-once>child-one</div>`
        })

        Vue.component(
            "child-two", {
            template: `<div v-once>child-two</div>`
        })

        var vm = new Vue({
            el: "#app",
            data: {
                type: "child-one",
            },
            methods: {
                handlerclick: function () {
                    this.type = this.type === "child-one" ? "child-two" : "child-one";
                }
            }
        })
    </script>

</body>

</html>